<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.mrboss.tianbosdk"
      version="0.0.1">

    <name>Android tianbosdk</name>
    <description>Cordova Android tianbosdk Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,tianbosdk</keywords>
    <repo>https://github.com/Bossierp/com.mrboss.tianbosdk.git</repo>
    <issue>https://github.com/Bossierp/com.mrboss.tianbosdk/issues</issue>

    <js-module src="www/tianbosdk.js" name="tianbosdk">
        <merges target="cordova.tianbosdk" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="tianbosdk">
                <param name="android-package" value="com.mrboss.tianbosdk.tianbosdk"/>
            </feature>
        </config-file>

        <source-file src="src/android/libs/armeabi/libcard_reader.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libcollect.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libdecode.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libidcard.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libled.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libmoneybox.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libpicc.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libsystem_util.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libtelpo_msr.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libtelpo_printer.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libtelpo_serial.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi/libusb_util.so" target-dir="libs/armeabi"/>

        <source-file src="src/android/acssmc-1.1.1.jar" target-dir="libs" />
        <source-file src="src/android/core-3.1.0.jar" target-dir="libs" />
        <source-file src="src/android/sdtapi.jar" target-dir="libs" />
        <source-file src="src/android/SmartCardLib.jar" target-dir="libs" />
        <source-file src="src/android/telpo_api.jar" target-dir="libs" />

        
        <source-file src="src/android/jsposprinter.java" target-dir="src/com/mrboss/jsposprinter" />
        <source-file src="src/android/LitterBuilder.java" target-dir="src/com/mrboss/jsposprinter" />
        <source-file src="src/android/MyPrint.java" target-dir="src/com/mrboss/jsposprinter" />

    </platform>

</plugin>